/** Width between 1200px to 992px */
@media (min-width: 992px) and (max-width: 1200px) {
  #header {
    background-size: cover;
  }
}

/** Width between 991px to 768px */
@media (min-width: 768px) and (max-width: 991px) {
  #header {
    background-size: cover;
  }
}

/** Width between 767px to 480px */
@media (max-width: 767px) {
  #header {
    background-size: contain;
    background-position: center;
  }
}

/** Width between 479px to 320px */
@media (max-width: 479px) {
  #header {
    background-size: contain;
    background-position: center;
  }
}
