body {
  background: #fff;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover, a:focus {
  color: #094f37;
  text-decoration: none;
}


/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  background: url("../images/home-bg.jpg") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
}


#header .header-content {
  height: 100vh;
  text-align: left;   /* to make it centered or right aligned change to text-align: center; or text-align: right; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  font-size: 40px;             /*Change the font size here*/
  font-weight: 700;             /*Change the font weight here*/
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000000;                     /*Change the color here*/
}

.header-content p {
  font-size: 18px;                 /*Change the font size here*/
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #000000;                  /*Change the color here*/
  font-weight: 500;               /*Change the font weight here*/
}

/*-----------------------------------------------------------------------------------*/
/*  Contact Details Section 
/*-----------------------------------------------------------------------------------*/

#contact {
  height: auto;
  width: 100%;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

.contact-details p {
  font-size: 15px;                 /*Change the font size here*/
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #000000;                  /*Change the color here*/
  font-weight: 500;               /*Change the font weight here*/
}

#header .contact-details li a:hover {
  color: #094f37;                   /*Change the text hover color here*/
  transition: all 0.5s ease-in-out 0s;
}

/*-----------------------------------------------------------------------------------*/
/*  Social Media Links Section 
/*-----------------------------------------------------------------------------------*/

.header-content .list-social li {
  margin-right: 20px;
  display: inline-block; /* Ensures the list items are displayed horizontally */
}

.header-content .list-social li i {
  color: #000000;                      /*Change the icon color here*/
  font-size: 15px;                    /*Change the icon size here*/
 letter-spacing: 0.1em;
  font-weight: 500;                 /*Change the icon weight here*/
}

.header-content .list-social li:hover i {
  color: #094f37;                     /*Change the icon hover color here*/
  transition: color 0.5s ease-in-out; 
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #fff;  
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
  color: #000000;                      /*Change the icon color here*/
}

.credits {
  font-size: 13px;
}
